{% extends 'home.html' %}

{%block content%}
	<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <div class="w3-content w3-justify w3-text-white w3-padding-32" id="about">
  	<center>
  		<img src="{{url_for(('review.static'), filename='bbb.jpg')}}" class="w3-circle w3-black w3-border-white w3-card-4" style="padding:4px" width="142" height="130">
        <h1 class="w3-text-light-grey">REVIEW MEDIUM</h1>
        <hr style="width:320px" class="w3-opacity">
    </center>

    <p>REVIEW MEDIUM is a bla bla bla webiste.Get best and genuine review recommendation about any college a
    univesities and other institutions like MIT, IIT,NIT, IIIT etc.And also get Coaching Center review here.Know which Coaching Centre is best and would be adequate for your Medical,Engeneering,UPSC etc Preparation.</p>
  </div>
  <center>
  <h3  class=" w3-text-white w3-padding-32">We Want People's Non-biased Review! Hope You would Co-operate Us.</h3>
  </center>
  <!-- END PAGE CONTENT -->
</div>

{%endblock%}